<section>
  <h1>About Me</h1>
  <p style="margin-top: 5px;">
	<a href="/aboutme"><img src="/images/DannyDouglass_128x128.png" style="float: left; height: 96px; width: 96px; margin-right: 10px;" /></a>
  	<strong>Web Application Developer</strong><br />
	focused on ASP.Net/C# and related technologies as both a career and a personal passion. I'm always interested in the opportunities the "latest and greatest" technology breakthroughs present...<br />
	<a href="/aboutme">More about me >></a>
  </p>
</section>
