// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body { font-size: 1em; }
.container .left-col #header .profilepic img { padding: 20px; background-color: #efefef; }
header h2 { font-size: 1.2em; font-weight: normal; }
.container .left-col { opacity: .75; }
ul li, ol li, blockquote { margin-left: 25px; }
article .entry-content { line-height: 1.8; }
img { border: solid 1px #999; margin-left: 10px; }
.container .mid-col footer.inner { margin-top: 20px; }
.entry-content .gist .gist-file .gist-meta { margin-left: 0px; }
.gist { margin: 20px 0; }
.entry-content .social {
    a{
      @include border-radius(50%);
      @include inline-block;
      text-indent: 40px;
      margin: 0 15px 15px 0;
      @include square(28px);
      &.facebook{
        background: image-url('social/facebook.png') center no-repeat #3B5998; border: 1px solid #3B5998;
      }
      &.google{
        background: image-url('social/google.png') center no-repeat #C83D20; border: 1px solid #C83D20;
      }
      &.twitter{
        background: image-url('social/twitter.png') center no-repeat #55CFF8; border: 1px solid #55CFF8;
      }
      &.github{
        background: image-url('social/github.png') center no-repeat rgb(175,182,202); border: 1px solid rgb(175,182,202);
      }
      &.linkedin{
        background: image-url('social/linkedin.png') center no-repeat #005A87; border: 1px solid #005A87;
      }
      &.document{
        background: image-url('social/document.png') center no-repeat #666; border: 1px solid #999;
      }
    }
  }